---
permalink: /gallery/
layout: page
title: Gallery
css: /assets/css/gallery.css
full-width: true
---

<div class="container">
  <div class="row d-flex flex-wrap">
    {% for event in site.data.gallery %}
    <div class="container pb-4">
      <h2>{{ event.title }}</h2>
      <div>{{ event.caption }}</div>
      <div class="center gallery-img-container">
        {% for image_path in event.images %}
        <img
          src="/assets/img/gallery/{{ site.baseurl }}{{ image_path }}"
          alt='{{ image_path | split: "." | first }}'
          class="gallery-img-item"
        />
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js"
    async
  ></script>
  <div
    class="pa-gallery-player-widget"
    style="width: 100%; height: 480px; display: none"
    data-link="https://photos.app.goo.gl/amnjFYLo1DAsffmp6"
    data-title="Social events"
    data-description="3 new items added to shared album"
  >
    <object
      data="https://lh3.googleusercontent.com/OCkz_I2qkUc1SY4H79v2oFlF5SWEoEyaeB8_aiVzBhFJTcHa_E5_LcdDR5X1FUudAc0QYjX-jnmpcLmd-GYIHyodzfgB-6PyInkGx6cPM3pm_2JjZrlWQLmbHvi9DeOlCcm8Cxn7hg=w1920-h1080"
    ></object>
    <object
      data="https://lh3.googleusercontent.com/mslesc5OKX07UN42lg9-E3TjLBM0D2zqybklakvdNI8V_fuqILcRwuvGSpsZpyddDF666NME8iHhKzmOuasRHXfyvms-5pkI9y48nnSYiBZRBioa6KE1brqRcPaGAZvZQqgm_VkXtA=w1920-h1080"
    ></object>
    <object
      data="https://lh3.googleusercontent.com/53Bqidtll1IzbFYLFkM2oCKMafLtv_LQqQhge-fIFZOdKi6nwnAa5XAhoqFYk3sRNCY9N96yhhSZo4PVP8PnSJ0ngsOSD4sdpyz2FMkcQKqzifLowJRqo-G-zpwEUuT6vsyHJpW8Sg=w1920-h1080"
    ></object>
  </div>
</div>
