---
permalink: /news/
layout: page
title: "News"
css: /assets/css/gallery.css
full-width: true
---
<!DOCTYPE html>
<html>
<head>
  <style>
    .event-title {
      font-size: 5px; /* Adjust the size as needed */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row d-flex flex-wrap">
      {% for event in site.data.gallery %}
      <div class="container pb-4">
        <h2 class="event-title">{{ event.title }}</h2>
        <div>{{ event.caption }}</div>
        <div class="center gallery-img-container">
          {% for image_path in event.images %}
          <img
            src="/assets/img/gallery/{{ site.baseurl }}{{ image_path }}"
            alt='{{ image_path | split: "." | first }}'
            class="gallery-img-item"
          />
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js"
      async
    ></script>
  </div>
</body>
</html>
