
.full-page {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.grid-container {
  display: grid;
  gap: 20px; /* Adds spacing between items */
}

/* General styling for member info */
.member-info {
  max-width: 200px !important;
  max-height: 200px !important;
  margin: 0 auto;
  padding-bottom: 10px;
  border: 1px solid #ddd; /* Optional border for spacing visibility */
  border-radius: 8px; /* Optional rounded corners */
  text-align: center;
}

/* Faculty */
#row-label-0 {
  font-weight: 700;
  padding-left: 20px;
  font-size: 1.5em;
}
.type-0 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* PhD students */
#row-label-1 {
  font-weight: 700;
  padding-left: 20px;
  font-size: 1.5em;
  margin-top: 40px; /* Extra space above new section */
}
.type-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Masters students */
#row-label-2 {
  font-weight: 700;
  padding-left: 20px;
  font-size: 1.5em;
  margin-top: 40px;
}
.type-2-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Undergraduate students */
#row-label-3 {
  font-weight: 700;
  padding-left: 20px;
  font-size: 1.5em;
  margin-top: 40px;
}
.type-3-1, .type-3-2, .type-3-3, .type-3-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Honorary lab members */
#row-label-4 {
  font-weight: 700;
  padding-left: 20px;
  font-size: 1.5em;
  margin-top: 40px;
}
.type-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Robots */
#row-label-5 {
  font-weight: 700;
  padding-left: 20px;
  font-size: 1.5em;
  margin-top: 40px;
}
.type-5-1, .type-5-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Alumni */
#alumni {
  padding-left: 20px;
}

#alumni-label {
  font-weight: 700;
  padding-top: 50px;
}

.alumni-entries {
  display: grid;
  grid-template-columns: 200px 250px auto;
  gap: 20px;
  margin-bottom: 5px;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .full-page {
    width: 100%;
  }
  .member-info {
    max-width: 100% !important;
    max-height: auto !important;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .image-modal-content {
    margin: 150px auto;
    width: 90%;
  }
}
