.container {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}
12
figure {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

figure img {
  margin-right: 10px;
  width: 150px;
}

figcaption {
  margin-top: 0;
  margin-bottom: 0;
}
